@import "./variables";

.container {
  overflow: hidden;
  width: 100%;
  margin: auto;
  padding-inline: map-get($space, "md");

  @media screen and (min-width: map-get($media, "lg")) {
    max-width: calc(945px + (map-get($space, "lg") * 2));
    padding-inline: map-get($space, "lg");
  }
}

.notification-dot {
  position: absolute;
  top: 11px;
  right: 11px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: map-get($colors, red, 100);
}
