* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: map-get($colors, grey, 100);
  padding-bottom: calc(#{map-get($space, "xl")} * 3);
}

figure {
  overflow: hidden;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
