.font-notosans {
  font-family: "Noto Sans", sans-serif;
}

.font-thin {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.capitalize {
  text-transform: capitalize;
}

.first-letter-capitalize::first-letter {
  text-transform: capitalize;
}

.relative {
  position: relative;
}

.section {
  margin-top: map-get($space, "xl");
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.items-center {
  align-items: center;
}
