$colors: (
  black: (
    100: #333333,
  ),
  blue: (
    100: #026bb0,
  ),
  brown: (
    100: #ae7129,
  ),
  green: (
    100: #78b517,
    200: #739500,
  ),
  grey: (
    100: #fbfbfc,
    200: #f3f3f3,
    300: #f0f0f1,
    400: #e9e9e9,
    500: #afafaf,
    600: #979797,
    700: #969696,
  ),
  red: (
    100: #ff3c3c,
    200: #ff0000,
    300: #e51d1d,
  ),
  purple: (
    100: #950086,
    200: #4a3274,
  ),
);

$space: (
  xl: 40px,
  lg: 32px,
  md: 16px,
  sm: 8px,
  xs: 4px,
);

$media: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
);
