@import "./variables";
@import "./reset";
@import "./components";
@import "./utilities";

.header {
  padding-block: 24px;
  background-color: map-get($colors, grey, 100);
  border: $border;

  &__container {
    gap: map-get($space, "sm");
  }

  &__figure {
    gap: map-get($space, "sm");
  }

  &__caption {
    font-size: 14px;

    @media screen and (min-width: map-get($media, "xxl")) {
      font-size: 18px;
    }
  }

  &__btns {
    gap: map-get($space, "sm");

    @media screen and (min-width: map-get($media, "sm")) {
      gap: 24px;
    }
  }

  &__span {
    padding: 12px;
    background-color: white;
    border: $border;
    border-radius: map-get($space, "sm");

    svg {
      fill: map-get($colors, blue, 200);
    }
  }

  &__chevron {
    margin-inline-start: map-get($space, "sm");

    svg {
      fill: map-get($colors, grey, 700);
    }
  }
}

.childs {
  background-color: white;

  &__container {
    padding-block: map-get($space, "md");
    flex-wrap: wrap;
    gap: map-get($space, "md");
  }

  &__figure {
    max-width: 170px;
    gap: map-get($space, "sm");

    img {
      width: 100%;
    }
  }

  &__caption {
    font-size: 24px;
    text-transform: capitalize;
  }

  &__wrapper {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: map-get($space, "md");

    @media screen and (min-width: map-get($media, "md")) {
      width: auto;
    }

    @media screen and (min-width: map-get($media, "sm")) {
      justify-content: unset;
    }
  }

  &__btns {
    flex-wrap: wrap;
    margin-inline-end: map-get($space, "md");
    gap: map-get($space, "md");

    &-caption {
      @media screen and (min-width: map-get($media, "xxl")) {
        font-size: 16px;
      }
    }
  }

  &__btn {
    min-width: 100px;
    padding-block: 7px;
    border: 1px solid map-get($colors, grey, 300);
    border-radius: map-get($space, "sm");
    transition: $transition;

    &:hover,
    &.active {
      background-color: map-get($colors, blue, 100);
      border-color: map-get($colors, blue, 100);

      figure {
        color: map-get($colors, blue, 200) !important;
        font-weight: bold !important;
      }
    }

    figure {
      color: map-get($colors, black, 100);
      font-weight: 400;
      gap: map-get($space, "sm");
    }

    img {
      width: 100%;
      max-width: 28px;
    }
  }
}

.statistic {
  margin-top: map-get($space, "md");
  padding-block: map-get($space, "base");
  flex-wrap: wrap;
  text-align: center;
  background-color: white;
  border: $border;
  border-radius: map-get($space, "md");
  gap: map-get($space, "sm");

  &__student {
    position: relative;
    overflow: hidden;
  }

  &__name {
    margin-top: map-get($space, "xs");
  }
}

.student-chart {
  position: relative;
  overflow: hidden;
  height: 450px;
}
